@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0 0;
}

h2 {
  font-size: 1.5em;
  margin: 0 0;
}

h3 {
  font-size: 1.17em;
  margin: 0 0;
}

h4 {
  font-size: 1em;
  margin: 0 0;
}

h5 {
  font-size: 0.83em;
  margin: 0 0;
}

h6 {
  font-size: 0.75em;
  margin: 0 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 149px;
  padding-top: 41px;
  padding-right: 108px;
}
.header__second-part {
  display: flex;
  align-items: center;
  gap: 72px;
  height: 42px;
}
.header__second-part nav {
  height: 100%;
}
.header__second-part nav ul {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 73px;
}
.header__second-part nav ul li {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  list-style: none;
}
.header__second-part nav ul li a {
  display: block;
  margin-top: 6px;
  height: 100%;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  line-height: 19.92px;
  text-align: left;
  color: #373737;
}
.header__second-part nav ul li .active {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 3px;
  border-radius: 2px;
  transition: all 0.1 s ease;
  background-color: #717CFF;
}
.header__second-part nav ul li:hover .active {
  visibility: visible;
}
.header__second-part nav ul li:first-child .active {
  visibility: visible;
}
.header__btn {
  border: none;
  background: transparent;
  border-radius: 5px;
  border: 2px solid #717CFF;
}
.header__btn a {
  display: block;
  text-align: center;
  line-height: 100%;
  padding: 10px 27px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 128px;
  padding-left: 148px;
}
.hero__left-page {
  display: flex;
  align-items: center;
  align-items: start;
  flex-direction: column;
  gap: 101px;
}
.hero__info h1 {
  width: 530px;
  margin: 0;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 900;
  line-height: 65.63px;
  text-align: left;
}
.hero__info h1 span {
  color: #717CFF;
}
.hero__info p {
  width: 610px;
  margin-top: 15px;
  margin-bottom: 42px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  line-height: 38px;
  text-align: left;
}
.hero__icons {
  display: flex;
  align-items: center;
  gap: 23px;
}
.hero__images {
  position: relative;
  width: 593px;
  overflow: hidden;
}
.hero__last-img {
  position: absolute;
  right: 0;
  bottom: -160px;
  z-index: -1;
}

.btn {
  background-color: #717CFF;
  border-radius: 10px;
  border: none;
}
.btn a {
  display: block;
  padding: 12px 33px;
}
.btn a span {
  margin-right: 29px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  color: #fff;
}
.btn a i {
  font-size: 20px;
  color: #37474F;
}

/*# sourceMappingURL=style.css.map */
